@media screen {
        body {
            margin: 0;
            padding: 0;
          }

        .pad {
            padding: 20px;
        }
    }

    @media screen and (min-width: 920px) {
        body {
                 width: 920px;
             }
    }

    @media screen and (max-width: 919px) {
        body {
            max-width: 100%;
        }
    }

h1 {
    text-align:center;
    font-family:MyriadPro;
    text-decoration:underline;
}

h2 {
    font-family:MyriadPro;
    text-decoration:underline;
}

.documentation {
    width:auto;
    font-family:MyriadPro;
    font-size:110%;
    text-align:justify;
}
